node_modules
out
dist
dist-electron
release
*.log
logs
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
coverage
playwright-report
test-results
*.local
.env
.env.*
!.env.example
local.db
local.db-*
